{% extends 'base.html.twig' %}

{% block title %}A propos de nous!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="d-flex items-center" style="--gap: 50px">
            <div class="hide-bottom">
                <div class="section-title text-left">Qui somme nous?</div>
                <p>Notre start-up se distingue en tant que concepteur d'articles de qualité, confectionnés avec soin et expertise. Nous utilisons une gamme de matières premium telles que des pelotes acryliques, des pelotes de coton, de la chenille et du velours pour donner vie à nos créations.</p>
                <p>Nous accordons une attention particulière aux détails et à la qualité de chaque pièce que nous créons. Ainsi, nous mettons tout notre savoir-faire et notre passion dans la conception de chaque article. Notre objectif est de vous offrir des produits de qualité et faits main qui vous apportent joie, confort et style. </p>
                <p>Chez Artiamour, la satisfaction de nos clients est notre priorité absolue. Nous sommes fiers de collaborer étroitement avec vous pour créer des pièces uniques qui répondent à vos attentes et dépassent même vos espérances.</p>
            </div>
            <img src="/images/illustration/about_illustration.jpg" alt="" class="about-illustration hide-right delay-2" style="width: 50%;">
        </div>

        <div class="grid-2 mt-5">
            <div class="box hide-bottom">
                <div class="text-center">
                    <img src="/assets/images/illustration/prestations-de-service.png" class="section-illustration" alt="">
                    <div class="section-title">Nos equipes</div>
                </div>
                <p>À l'origine, Artiamour est née de l'amour du crochet et de la passion pour le partage. Aujourd'hui, notre start-up est fière de compter deux personnes, Lalaina et Toky, à sa tête.</p>
                <p>Lalaina, spécialisée dans la production d'adorables articles, apporte son savoir-faire et son talent pour créer des pièces charmantes. Grâce à son expertise, elle donne vie à des créations qui suscitent l'admiration de nos clients, en alliant habilement technique et créativité.</p>
                <p>Quant à Niaina, elle joue un rôle essentiel dans le développement des activités de Artiamour. Son expérience en gestion et en stratégie lui permet de mettre en place les plans efficaces pour assurer la croissance et la pérennité de notre start-up. Elle travaille aussi en étroite collaboration avec Lalaina pour concrétiser les idées novatrices et maximiser notre impact sur le marché.</p>
            </div>
            <div>
            <div class="box hide-bottom delay-2">
                <div class="text-center">
                    <img src="/assets/images/illustration/prestations-de-service.png" class="section-illustration" alt="">
                    <div class="section-title">Services</div>
                </div>
                <p>
                    En plus de notre gamme variée d'articles, nous proposons également un service de commandes spéciales sur mesure. Nous comprenons que chaque client a des besoins uniques et des idées spécifiques en tête. C'est pourquoi nous vous encourageons vivement à nous envoyer votre demande personnalisée, et nous serons ravis de vous fournir un devis dans les plus brefs délais.
                </p>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
