{% extends 'base.html.twig' %}

{% block title %}Hello CGVController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="cgv-section w-75">
            <div class="section-title text-left">Conditions générales de vente</div>
            <h5>Informations produits</h5>
            <p>Tous nos articles sont uniquement sur commande sauf pour les articles qui sont disponibles de suite.
                Nous nous engageons à vous fournir des produits 100% fait à la main à des prix très abordables. 
            </p><br>

            <h5>Passer un commande</h5>
            <p>Envoyez-nous directement la photo de l'article que vous désirez en mentionnant ses détails (taille, couleur, motif etc...) 
            ainsi que votre nom, adresse et contact en message privé via 
            <a href="#lien_facebook" class="link-underlined" title="Nous envoyer un mail">facebook</a> ou
            <a href="mailto: artiamourhw@gmail.com" class="link-underlined" title="Nous envoyer un mail">email</a>.<br>
            <p>* Toutes les commandes seront traitées dans l'ordre de leur arrivée.</p>
            </p><br>

            <h5>Mode de paiement</h5>
            <ul>
                <li>Un acompte de 50% sera exigé pour les articles sur commande à payer via mobile money (montant + frais de retrait) et le reste du paiement se fera en espèces lors de la livraison. </li>
                <li>Les articles disponibles de suite ne nécessiteront aucun acompte mais le paiement se fait au moment de la livraison. </li>
            </ul>
            <p>* Aucun remboursement n'est acceptable en cas d'annulation de commande. </p><br>

            <h5>Livraison</h5>
            <ul>
                <li>La livraison se fera dans un délai de 2 à 3 jours après la confirmation de la commande sauf pour les articles uniquement sur commande.</li>
                <li>Le frais de la livraison est à partir de 3.000 Ar, en fonction du lieu. </li>
            </ul>
            <p>* La recupération est possible selon notre disponibilité d'horaire. </p>
        </div>
    </div>
{% endblock %}
