<article class="card">
    <a href="{{ path("app_product_show", {id: product.id} )}}" class="card-link" title="cliquer pour voir le detail"></a>
    <div class="card-body">
        <div class="card-title capitalize">{{ product.name }}</div>
    </div>
    <div class="card-illustration">
        <img src="{{ vich_uploader_asset(product) | imagine_filter('medium') }}" class="card-img" alt="">
    </div>
</article>