form{
    display: inline;
}
%fields{
    border: 1px solid var(--border);
    width: 100%;
    outline: none;
    padding: space(1);
    color: var(--form-color, inherit);
    border-radius: 4px;

    &:focus{
        border-color: royalblue;
    }
}

.form-input{
    @extend %fields;
}

.form-textarea{
    @extend %fields;
}
%error{
    color: var(--secondary);
    line-height: 1.6em;
    animation: hide_animation .3s ease-in-out;
}
.form-error{
    @extend %error;
    background-color: var(--border);
    padding: space();
    border-radius: 4px;
    margin-bottom: 5px;
}


