@import "./styles/components/table";
@import "./styles/components/dropdown";
@import "./styles/components/alert";

%container, .container{
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.admin-header{
    @extend %container;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border);
}

.admin_nav{
    @extend %container;
    display: flex;
}
.admin_nav-item{
    list-style: none;
    border: 1px solid var(--border);
    border-right: none;
    border-top: none;

    &:last-child{
        border-right: 1px solid var(--border);
    }
}

.admin_nav-item a{
    padding: 8px;
    transition: .3s;

    &:hover{
        background-color: var(--secondary);
        color: #fff;
    }
}



@media (max-width: 400px){
    .table-action *{
        margin-bottom: 5px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}