{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="section-title text-left">Nous contacter</div>
        <p class="mb-5">
        Pour intéragir avec nous, il vous suffit de nous contacter via le contact indiqués ci-dessous:
        </p>
        <div class="contact-box">
            <a href="mailto: artiamourhw@gmail.com" class="contact link" title="Nous envoyer un mail">
                <i class="far fa-envelope"></i>
                <div>
                    <h6>Mail</h6>
                    <span>artiamourhw@gmail.com</span>
                </div>
            </a>

            <div class="contact">
                <i class="fas fa-phone"></i>
                <div>
                    <h6>Téléphone</h6>
                    <span>+261 38 33 612 57</span>
                </div>
            </div>
            <a href="#lien-facebook" class="contact link">
                <i class="fab fa-facebook-f"></i>
                <div>
                    <h6>Facebook</h6>
                    <span>Artiamour</span>
                </div>
            </a>
            <a href="#lien-instagram"  class="contact link">
                <i class="fab fa-instagram"></i>
                <div>
                    <h6>Instagram</h6>
                    <span>Arti_amour</span>
                </div>
            </a>
        </div>
        <p>* * N'hésitez pas à nous contacter dès maintenant pour vos commandes spéciales et laissez-nous transformer votre idée en réalité.</p>
    </div>
{% endblock %}
