.about{
    margin-top: space(3);
}

.about img{
    display: none;
}

.team-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid gainsboro;
    box-shadow: 0 0 0 8px rgb(240, 238, 238);
}

@media (min-width: 1000px){
    .about-section img{
        display: block;
    }
}