{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="section-title text-left">Nouveau produit</div>
    <div class="w-50">
        {% include "admin/product/_form.html.twig" %}
    </div>
</div>
{% endblock %}
